# Comments

In [ ]:
# this won't be executed

10 # this is a comment as well

10

# Variables

variable assignment in Python uses a single equals sign

In [ ]:
a1 = 10

a2 = 20

# a1 * 100

In [ ]:
x = 3
print(x)

x = 5
print(x)

x = x + 10
print(x)

# same as... x = x + 10
x += 10
print(x)

3
5
15
25

# Outputs

In [ ]:
# can reference any variable in the notebook's memory
print(a1)

10

In [ ]:
#print(a1 * 100)
#print(a1 * 10)
#print(a1 + 5)

print(100)
print(10)
print(5)

100
10
5

In [ ]:
print(10)
print("HELLO WORLD")
print(10, "HELLO WORLD", 100, 20, True)

10
HELLO WORLD
10 HELLO WORLD 100 20 True

# Inputs

In [ ]:
fav_flavor = input("What's your fav ice cream flavor? ")

print("YOU CHOSE: ", fav_flavor)

What's your fav ice cream flavor? Vanilla Bean
YOU CHOSE:  Vanilla Bean

# Datatypes

In [ ]:
"Hello World"

'Hello World'

In [ ]:
print(type("Hello")) #> <class 'str'>
print(type("100")) #> <class 'str'>

print(type(100)) #> <class 'int'>
print(type(0.45)) #> <class 'float'>

print(type(True)) #> <class 'bool'>
print(type(False)) #> <class 'bool'>

print(type(None)) #> <class 'NoneType'>

print(type([1,2,3])) #> <class 'list'>

print(type({"a":1, "b":2, "c":3})) #> <class 'dict'>

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'dict'>
<class 'list'>

In [ ]:
print(type(2))
print(2 + 2)

<class 'int'>
4

In [ ]:
print(type("2"))
print("2" + "2")
print(type("2" + "2"))

<class 'str'>
22
<class 'str'>

In [ ]:
#print(2 + "2")
#> TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Strings

In [ ]:
print("HELLO WORLD")
print('HELLO WORLD')

print("Don't do that")
#print('Don't do that')

HELLO WORLD
HELLO WORLD
Don't do that

string concatenation

In [ ]:
message = "HELLO" + "WORLD"
print(message)

message = "HELLO " + "WORLD"
print(message)

message = "HELLO" + " WORLD"
print(message)

message = "HELLO" + " " + "WORLD"
print(message)

HELLOWORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

manipulate the case of a string:

In [ ]:
print("hElLo".lower())
print("hElLo".upper())
print("hElLo".title())

hello
HELLO
Hello

## Numbers

In [ ]:
print(1 + 5)
print(1+5)
print(1-5)
print(1*5)
print(1/5)

6
6
-4
5
0.2

In [ ]:
print(5.0 * 100)
print(type(5.0 * 100))

500.0
<class 'float'>

## Booleans

In [ ]:
print(True)

print(False)

True
False

## Lists

Notes:

  + lists have square brackets on the extremities

  + lists have comma separated items

  + the order of items matters

  + we can access individual items by their numeric position (starting at 0)

In [ ]:
#sales = []

# chron order of months Jan, Feb, 
sales = [100, 200, 300, 500, 400, 990]
print(sales)
print(type(sales))

[100, 200, 300, 500, 400, 990]
<class 'list'>

In [ ]:

words = ["hello", "yolo", "goodbye", "idk"]
print(words)
print(type(words))

['hello', 'yolo', 'goodbye', 'idk']
<class 'list'>

accessing items in a list:

In [ ]:
# first item in a list
# index 0

print(words[0])
print(words[1])
print(words[2])
print(words[3])
print(words[4]) #> IndexError: list index out of range

hello
yolo
goodbye
idk

IndexError: ignored

counting the number of items in any list:

we pass it in to the `len()` function

In [ ]:
print(len(sales))

print(len(words))

6
4

looping through each item in the list:

In [ ]:
sales

# for some item in existing list:
#   do something with that item


# for ____ in sales:
#     print(____)
print(sales)


for x in sales:
    print("----")
    print(x)

[100, 200, 300, 500, 400, 990]
----
100
----
200
----
300
----
500
----
400
----
990

In [ ]:
words = ["hello", "yolo", "goodbye", "idk"]

print(words)
print(type(words))

print("---------")
print(words[0])
print(words[1])
print(words[2])
print(words[3])

print("---------")

#for ____ in words:
#    print(____)

#for item in words:
#    print(item)

['hello', 'yolo', 'goodbye', 'idk']
<class 'list'>
---------
hello
yolo
goodbye
idk
---------
hello
yolo
goodbye
idk
BOTTOM

In [ ]:
print(words)
print("--------")
for x in words:
    print(x)
    # nothing else in the scope of the loop
    
print("-------")
print("BOTTOM")

['hello', 'yolo', 'goodbye', 'idk']
--------
hello
yolo
goodbye
idk
-------
BOTTOM

there was a question about how to break out of the loop and stop processing

In [ ]:
print(words)
print("--------")

counter = 0
for x in words:
    print(x)
    
    #counter = counter + 1
    counter += 1 # increment the counter

    if counter >= 2:
        break # stop the loop and do whatever comes after
    
print("-------")
print("BOTTOM")

['hello', 'yolo', 'goodbye', 'idk']
--------
hello
yolo
-------
BOTTOM

### Sorting lists

https://docs.python.org/3/library/functions.html#sorted

In [ ]:
words = ["hello", "yolo", "goodbye", "idk"]

print(sorted(words))

print(words)

sorted_words = sorted(words)
print(sorted_words)

['goodbye', 'hello', 'idk', 'yolo']
['hello', 'yolo', 'goodbye', 'idk']
['goodbye', 'hello', 'idk', 'yolo']

In [ ]:
numbers = [5, 8, 3, 99, 10, 2, 1]

print(sorted(numbers))

sorted_nums = sorted(numbers)
print(sorted_nums)

[1, 2, 3, 5, 8, 10, 99]
[1, 2, 3, 5, 8, 10, 99]

In [ ]:
print(sorted(numbers, reverse=True))

[99, 10, 8, 5, 3, 2, 1]

In [ ]:
# when we have a more complex list, like a list of dict
# we need to tell python how to sort
# on the basis of which attribute name / key should we sort

# this function looks at a specified key name of the dictiony
from operator import itemgetter

teams = [
    {"city": "New York", "name": "Yankees"},
    {"city": "New York", "name": "Mets"},
    {"city": "Boston", "name": "Red Sox"},
    {"city": "New Haven", "name": "Ravens"}
]

#print(sorted(teams)) #> TypeError: '<' not supported between instances of 'dict' and 'dict'

# print(sorted(teams, key="city")) #> TypeError: 'str' object is not callable

print(sorted(teams, key=itemgetter("city"))) 

print(sorted(teams, key=itemgetter("name")))

[{'city': 'Boston', 'name': 'Red Sox'}, {'city': 'New Haven', 'name': 'Ravens'}, {'city': 'New York', 'name': 'Yankees'}, {'city': 'New York', 'name': 'Mets'}]
[{'city': 'New York', 'name': 'Mets'}, {'city': 'New Haven', 'name': 'Ravens'}, {'city': 'Boston', 'name': 'Red Sox'}, {'city': 'New York', 'name': 'Yankees'}]

### Mapping Lists

In [ ]:
grades = [76.7, 85.1, 50.3, 89.8, 97.4, 75.5, 87.2, 88.0, 93.9, 92.5]

# display this list of grades as .76 instead of 76.7
# PRINT EACH SMALLER NUMBER ONE AT A TIME
#print(grades[0] / 100)

#for x in grades:
#    print(x / 100)

for g in grades:
    print(g / 100)

0.767
0.851
0.503
0.898
0.9740000000000001
0.755
0.872
0.88
0.9390000000000001
0.925

In [ ]:
new_words = []
print(len(new_words))
print(new_words)

new_words.append("HELLO")

print(len(new_words))
print(new_words)

new_words.append("YOLO")

print(len(new_words))
print(new_words)

0
[]
1
['HELLO']
2
['HELLO', 'YOLO']

In [ ]:
# COLLECTING THEM INTO A SEPARATE LIST

new_grades = []
#print(len(new_grades))

for g in grades:
    #print(g / 100)
    new_grades.append(g / 100)

# NOW THE NEW LIST WILL BE POPULATED
print(new_grades)

[0.767, 0.851, 0.503, 0.898, 0.9740000000000001, 0.755, 0.872, 0.88, 0.9390000000000001, 0.925]

question about rounding:

In [ ]:
# COLLECTING THEM INTO A SEPARATE LIST

new_grades = []

for g in grades:
    #print(g / 100)
    new_grades.append(round(g / 100, 2))

# NOW THE NEW LIST WILL BE POPULATED
print(new_grades)

[0.77, 0.85, 0.5, 0.9, 0.97, 0.76, 0.87, 0.88, 0.94, 0.93]

### Filtering Lists

In [ ]:
numbers = [5, 8, 3, 99, 10, 2, 1]
print(numbers)
print("---------")
# 7 items

# filter ONLY KEEP THE ONES GREATER THAN 6

# for n in numbers:
#     print(n)

#for n in numbers:
#    #print(n)
#    if n > 6:
#        print(n)

new_nums = []

for n in numbers:
    #print(n)
    if n > 6:
        #print(n)
        new_nums.append(n)

print(new_nums)

[5, 8, 3, 99, 10, 2, 1]
---------
[8, 99, 10]

## Dictionaries

Notes:

  + have squiggly braces on the extremities
  + items separated by commas

  + each item is a "key value pair" in which the "key" is the attribute name (i.e. "color"), and the "value" is the attribute value (i.e. "blue"), and they are separated by a colon

  + dictionaries are like lists, but we give a textual name to each value contained (instead of a index / numeric position)

In [ ]:
#[100, 200, 300, 500, 400, 990]

monthly_sales = {"jan": 100, "feb": 200, "mar": 300, "apr": 400, "may": 990}
print(monthly_sales)

{'jan': 100, 'feb': 200, 'mar': 300, 'apr': 400, 'may': 990}

In [ ]:
# what are the keys?
print(monthly_sales.keys())

# what are the values?
print(monthly_sales.values())

dict_keys(['jan', 'feb', 'mar', 'apr', 'may'])
dict_values([100, 200, 300, 400, 990])

In [ ]:
print(monthly_sales["jan"])
print(monthly_sales["feb"])
print(monthly_sales["may"])

100
200
990

In [ ]:
# monthly_sales[0] #> KeyError: 0
# print(monthly_sales["dec"]) #> KeyError: 'dec'

KeyError: ignored

# Logical Operators

see: https://www.w3schools.com/python/python_operators.asp

Comparisons:

In [ ]:
print(2 < 4)
print(2 > 4)

print("------------")

# is what's on the left equal to what's on the right?
print(2 == 4)
print(2 == 2)

# is what's on the left NOT equal to what's on the right?
print(2 != 4)

True
False
------------
False
True
True

logical operators

In [ ]:
# with and, BOTH sides need to be true for the resulting expression to be true
print(True and False)

# with or, EITHER side needs to be true for the resulting expression to be true
print(True or False)

False
True

# Conditional Logic

see: https://docs.python.org/3/tutorial/controlflow.html#if-statements

In [ ]:

#if logical expression:
#    thing to do if true
# else:
#    thing to do if false

print(2 < 100)


if 2 < 100:
    print("YEP")
else:
    print("NOPE")

print("BOTTOM")

True
YEP
BOTTOM

if statements without else clause

In [ ]:
if 2 < 100:
    print("YEP")

print("BOTTOM")

YEP
BOTTOM

In [ ]:
if 2 > 100:
    print("YEP")

print("BOTTOM")

BOTTOM

if statements with many conditions / elif clauses

In [ ]:
if 2 > 100:
    print("YEP")
elif 2 > 200:
    print("YOOOO")
elif 2 > 4000:
    print("NOOOOO")
else:
    print("OOPS")

print("BOTTOM")

OOPS
BOTTOM

In [ ]:
if 2 > 100:
    print("YEP")
elif 2 < 200:
    print("YOOOO")
elif 2 < 4000:
    print("NOOOOO")
else:
    print("OOPS")

print("BOTTOM")

YOOOO
BOTTOM

more if statements:

In [ ]:
print(2 == "2")

if 2 == "2":
    print("FIRST")
elif 2 == 2:
    print("SECOND")


print("BOTTOM")

False
SECOND
BOTTOM

nested if statements

In [ ]:
if 2 == 2:
    
    if 5 == 10:
        print("YEP")
    else:
        print("NOPE")

else:
    print("FALSE")

NOPE

compound conditions

In [ ]:
x = 5
y = 10


if x > 10 and y > 10:
    print("GREATER")
elif x < 10 and y == 10:
    print("YEP")

print("BOTTOM")

YEP
BOTTOM

In [ ]:
x = 5
y = 10


if (x > 10) and (y > 10):
    print("GREATER")
elif (x < 10) and (y == 10):
    print("YEP")

print("BOTTOM")

YEP
BOTTOM

# Importing Modules

In [ ]:
# print(pi) #> NameError: name 'pi' is not defined

#print(math.pi) #> NameError: name 'math' is not defined

# in order to use a module or the functions that it provides
# we first need to import that module ONCE

import math

print(math.pi)

3.141592653589793

In [ ]:
from math import pi

print(pi)

3.141592653589793