# Class 2

## Outputs / Printing

In [ ]:


print(2+2)

print(3+3)

100

4
6

100

## Variables

storing values for later reference.

can update a variable's value later. it can "vary" over time.

In [ ]:
# variables


x = 100

y = 50

print(x + y)

150

use contextual variable names (using snake case) so our programs are easier to read and understand:

In [ ]:


speed_mph = 60

miles = 100

print(speed_mph * miles)

# conditional

if speed_mph > 60:
    # only reached if true 
    print("STOP SPEEDING")
else:
    # only reached if false
    print("SPEED LIMIT OK")

6000
SPEED LIMIT OK

## Basic Datatypes

In [ ]:
# text inside quotes is a "string" datatype / textual message
print("MY MESSAGE")

In [ ]:
STOP SPEEDING

SyntaxError: ignored

In [ ]:
"STOP SPEEDING"
print("STOP SPEEDING")

STOP SPEEDING

In [ ]:
# why do we care about datatypes

# the kind of data we're working with...
# determines what we can do with that data

# numeric datatypes
print(2 + 2)

print(type(2))
print(type(2.5))

print(2 + 2.5)

4
<class 'int'>
<class 'float'>
4.5

In [ ]:
print(type("HELLO WORLD"))

print(type("2"))
print("2")

<class 'str'>
<class 'str'>
2

In [ ]:
# string concatenation (joining together textual messages)
print("2" + "2")


print("HELLO" + "WORLD")

22
HELLOWORLD

In [ ]:
print(2 + "2")

TypeError: ignored

## User Inputs

asking the user to input some value (most helpful in local dev / terminal)

In [ ]:
x = input("Please choose a fav ice cream flavor: ")
print(x)

Please choose a fav ice cream flavor: straw
straw

FYI: resulting value will always be a string!!

In [ ]:
product_id = input("Select a product id (e.g. 9): ")
print(product_id)
print(type(product_id))

Select a product id (e.g. 9): 99
99
<class 'str'>

In [ ]:
# datatype conversion
# int()
# str()
# bool()
# list()
# dict()

new_id = int(product_id)
print(new_id)
print(type(new_id))

99
<class 'int'>

# Class 3

we weren't the most organized when introducing concepts last class, so let's be more organized, starting below...


if you want you can remove the class 2 stuff.

## Outputs

In [ ]:
print(2)
print(4.5)
print("hello world")

2
4.5
hello world

print any number of objects separated by commas.
the comma will introduce a space

In [ ]:
print(2, 4.5, "hello world")
print("CONTEXT:", 4)

# alternatively to not use spaces, we can use string concatenation or a format string

2 4.5 hello world
CONTEXT: 4

## Variables

variable assignment uses the single equals sign

In [ ]:
x = 5
print(x)

y = 2 + 2
print(y)

print("--------")

z = 10
print(z)

z = z + 100
print(z)

z += 100
print(z)

5
4
--------
10
110
210

## Inputs

In [ ]:
fav_flav = input("what's your favorite flavor? ")
print(fav_flav)

what's your favorite flavor? vanilla
vanilla

## Basic Datatypes

### Numbers

In [ ]:
print(2)
print(2+2)
print(2*2)
print(2/2)

2
4
4
1.0

In [ ]:
print(2)
print(4.5)

2
4.5

In [ ]:
print(type(2))
print(type(2.0))
print(type(4.5555))

<class 'int'>
<class 'float'>
<class 'float'>

### Strings

In [ ]:
print("HELLO")

message = "HELLO"
print(message)

print(type(message))

HELLO
HELLO
<class 'str'>

joining two strings together (using concatenation or a format string)

In [ ]:
print("HELLO" + "WORLD")

message = "HELLO" + "WORLD"
print(message)

print("HELLO " + "WORLD")
print("HELLO" + " WORLD")
print("HELLO" + " " + "WORLD")

HELLOWORLD
HELLOWORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

In [ ]:
player_name = "MJR"
print("Welcome", player_name, ", to my game")
print("Welcome " + player_name + ", to my game")

Welcome MJR , to my game
Welcome MJR, to my game

format string / string interpolation:

In [ ]:
player_name = "MJR"

print("Welcome {player_name}, to my game") # this won't work. remember we also need the preceding f
print(f"Welcome {player_name}, to my game")

Welcome {player_name}, to my game
Welcome MJR, to my game

object-oriented programming means the objects have their own capabilities (called methods), for example string case manipulation:

In [ ]:
# when we pass something into a function, that's "functional" programming
my_message = "HELLO WORLD"
print(my_message)

print("... is", len(my_message), "CHARACTERS LONG")

# we can also utilize the capabilities of any object / inherent within that object

HELLO WORLD
... is 11 CHARACTERS LONG

In [ ]:
# the dir function tells us what capabilities an object has ON ITS OWN
print(dir(my_message))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
# some of the capabilities are "properties" or nouns 
# ... that don't require trailing parens

# polo.size

# some of the capabilities are "methods" or verbs
# ... these do require trailing parens
# ... methods are like functions
# ... if we want to invoke a function, we need trailing parens

# polo.fold()

print(my_message.isdecimal())

print(my_message.lower())
print(my_message.upper())
print(my_message.title())

print(my_message.replace("HELLO", "GOODBYE"))

False
hello world
HELLO WORLD
Hello World
GOODBYE WORLD

## Booleans

In [ ]:
# true or false

print(True)
print(False)

True
False

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Logical Operators

double equals sign says "is what's on the right equal to what's on the left?

result in either True or False

In [ ]:
print(True == True) # it is True they are the same
print(True == False) # they are not the same
print(False == False) # it is True they are the same

True
False
True

In [ ]:
print(2 == 2)
print(2 == 4)
print(2 == "2")

True
False
False

In [ ]:
# is what's on the left NOT EQUAL to what's on the right?
print(2 != 2)
print(2 != 4)
print(2 != "2")

False
True
True

In [ ]:
# arithmetic operators ( greater / less than)
# is left greater than right?
print(2 > 4)
print(2 >= 4)

False
False

In [ ]:
# and operator
# ONLY IF BOTH SIDES ARE TRUE will the resulting expression be True
# OTHERWISE FALSE IN THE REST OF CASES
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# or operator
# IF EITHER OR BOTH sides are true, the resulting expression is True
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

inclusion operators:

In [ ]:
print("hello" in "hello world")
print("HELLO" in "hello world")

True
False

In [ ]:
# FYI: my_nums is a list, which we'll learn more about soon
my_nums = [1,3,5]
print(5 in my_nums)
print(5 not in my_nums)

True
False

## Conditionals / IF Statements

In [ ]:
if True:
    print("YUP")
else:
    print("NOPE")

print("BOTTOM")

YUP
BOTTOM

In [ ]:
if True:
    print("YEP")

print("BOTTOM")

YEP
BOTTOM

In [ ]:
if False:
    print("YEP")

print("BOTTOM")

BOTTOM

In [ ]:
print(2==2) #> True

if 2 == 2:
    print("YEP")
else:
    print("NOPE")

print("BOTTOM")

True
YEP
BOTTOM

In [ ]:
print(2 > 5)

if 2 > 5:
    print("YEP")
else:
    print("NOPE")

print("BOTTOM")

False
NOPE
BOTTOM

## Datatype Detection

In [ ]:
print(type(1))
print(type(1.0))
print(type("hello"))
print(type(True))
print(type(False))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

## Intermediate / Container Datatypes

### Lists

lists have square brackets on the extremities

lists have comma separated items


the order matters

we can access individual items by their numeric position, called the index. the index of the first item in a list is zero!

In [ ]:
print("-------")
# container datatypes
# LIST
print(type([1,2,3,4]))
print(type(["a", "z", "hello"]))
print(type([True, True, False, True]))

-------
<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
sales = [100, 200, 250]
print(type(sales))

<class 'list'>

In [ ]:
print(sales[0]) # first item index is 0
print(sales[1])
print(sales[2])
#print(sales[3]) #> IndexError: list index out of range

print("-----------")
# reverse index
#print(sales[-4]) # #> IndexError: list index out of range
print(sales[-3]) #
print(sales[-2]) #
print(sales[-1]) # last item index is -1

100
200
250
-----------
100
200
250

In [ ]:
# LEN FUNCTION COUNTS THE NUMBER OF ITEMS IN A LIST
print(len(sales))

3

### Dictionaries

have squiggly braces on the extremities

are said to have "key value pairs"

dictionaries are like lists, but we give a textual name to each value contained (instead of a index / numeric position)

In [ ]:
#person = {_____, _______, _______}
#person = {"first_name": "Alex", "last_name": "Lang", "height": "tall"}
person = {
    "first_name": "Alex", 
    "last_name": "Lang", 
    "height": "tall"
}
print(person)
print(type(person))

{'first_name': 'Alex', 'last_name': 'Lang', 'height': 'tall'}
<class 'dict'>

In [ ]:
print(person["first_name"])
print(person["last_name"])

Alex
Lang

what keys / attribute names exist in this dict?

In [ ]:
print(person.keys())
print(list(person.keys()))

dict_keys(['first_name', 'last_name', 'height'])
['first_name', 'last_name', 'height']

In [ ]:
print(person.values())
print(list(person.values()))

dict_values(['Alex', 'Lang', 'tall'])
['Alex', 'Lang', 'tall']

In [ ]:
print(person.items())
print(list(person.items()))

dict_items([('first_name', 'Alex'), ('last_name', 'Lang'), ('height', 'tall')])
[('first_name', 'Alex'), ('last_name', 'Lang'), ('height', 'tall')]

# Class 4

## Importing Modules or Packages

Modules like `random` and `statistics` are built-in to the [Python standard library](https://docs.python.org/3/library/) and the already installed, but require importation to use.

In [ ]:
# OPTION A) import all functions provided by this module:
import random

my_nums = [1,2,3,4,5,6,7,8,9]

# ... in which case we need to prefix the function with the module name
# ... to let Python know where that function definition is coming from
print(random.choice(my_nums))

1

In [ ]:
# OPTION B) only import the function we care about from this module:
from random import choice

my_nums = [1,2,3,4,5,6,7,8,9]

# ... in which case we can invoke the function directly:
print(choice(my_nums))

1

Third-party packages like `numpy` generally require installation via `pip` command line tool, but in Colab most popular packages are already installed. Like modules, packages also require importation to use.

In [ ]:
# OPTION A: use the entire pacakge name
import numpy

my_nums = [1,2,3,4,5,6,7,8,9]

# ... in which case reference the entire package by name:
print("MEAN:", numpy.mean(my_nums))

5.0

In [ ]:
# OPTION B: use an alias
import numpy as np

my_nums = [1,2,3,4,5,6,7,8,9]

# ... in which case use the alias in place of the package name:
print("MEAN:", np.mean(my_nums))

## Looping through Lists

In [ ]:
nums = [6, 3, 100, 5, 3]
print(type(nums))

<class 'list'>

In [ ]:
words = ["apple", "cat", "banana", "zebra", "new"]
#words = ["apple", "cat"]
print(type(words))

<class 'list'>

In [ ]:
#print(words[0])
#print(words[1])
#print(words[2])
#print(words[3])
#print(words[4])
#print(nums[-1]) # -1 index of the last item

In [ ]:
# for _____ in _________:
#     print(_________)

# for each_item in existing_list_of_items:
#     print(each_item)

words = ["apple", "cat", "banana", "zebra", "new", "apple"]

for item in words:
    print("-----")
    print(item)
    # last line inside the loop


print("BOTTOM")

-----
apple
-----
cat
-----
banana
-----
zebra
-----
new
-----
apple
BOTTOM

In [ ]:
nums = [1,2,3,4,5]
print(type(nums))

for n in nums:
    print(n)
    if n >= 3:
        break

print("BOTTOM")

<class 'list'>
1
2
3
BOTTOM

In [ ]:
nums = [1,2,3,4,5]
print(type(nums))

for n in nums:
    print(n)

print("------")

for x in nums:
    print(x)

print("------")

for item in nums:
    print(item)

<class 'list'>
1
2
3
4
5
------
1
2
3
4
5
------
1
2
3
4
5

In [ ]:
x = 100

nums = [1,2,3]

for n in nums:
    print(n)


print("BOTTOM")
print(x)
# be careful after the loop finishes
# we will have access to whatever the last value of our item variable
print(n)

1
2
3
BOTTOM
100
3

## Sorting Lists

In [ ]:
nums = [6, 3, 100, 5, 3]

print(sorted(nums))

print(sorted(nums, reverse=True))

[3, 3, 5, 6, 100]
[100, 6, 5, 3, 3]

In [ ]:
words = ["apple", "cat", "banana", "zebra", "new", "apple"]
print(sorted(words))

print(sorted(words, reverse=True))

['apple', 'apple', 'banana', 'cat', 'new', 'zebra']
['zebra', 'new', 'cat', 'banana', 'apple', 'apple']

In [ ]:
from operator import itemgetter # helps us sort dictionaries on the basis of one of their keys
from pprint import pprint

teams = [
    {"city": "New York", "name": "Yankees"},
    {"city": "New York", "name": "Mets"},
    {"city": "Boston", "name": "Red Sox"},
    {"city": "New Haven", "name": "Ravens"}
]

#print(sorted(teams)) #> TypeError: '<' not supported between instances of 'dict' and 'dict'

#pprint(sorted(teams, key=itemgetter("name")))
#pprint(sorted(teams, key=itemgetter("name"), reverse=True))

pprint(sorted(teams, key=itemgetter("city")))

[{'city': 'Boston', 'name': 'Red Sox'},
 {'city': 'New Haven', 'name': 'Ravens'},
 {'city': 'New York', 'name': 'Yankees'},
 {'city': 'New York', 'name': 'Mets'}]

## Mapping Lists

In [ ]:
my_list = [1,2,34]
my_list.append(9) # mutating (changes in place the underlying variable)
print(my_list)

[1, 2, 34, 9]

In [ ]:
nums = [6, 3, 100, 5, 3]

bigger_nums = []

for n in nums:
    #print(n)
    #print(n * 100)
    bigger_nums.append(n * 100)

print(bigger_nums)

[600, 300, 10000, 500, 300]

## Filtering Lists

In [ ]:
nums = [6, 3, 100, 5, 3]

matching_nums = [] # collect only numbers greater than 5

for n in nums:
    #matching_nums.append(n)
    if n > 5:
        matching_nums.append(n)

print(nums)
print(matching_nums)

[6, 3, 100, 5, 3]
[6, 100]

## List Comprehensions

[separate exercise](https://colab.research.google.com/drive/1SBWW2Waedzn-FZRbaIxwP5HQz6smxBPe?usp=sharing)