<a href="https://colab.research.google.com/github/prof-rossetti/intro-to-python/blob/main/notes/python/Learning_Python_Inclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The print function (Built-in)

In [49]:


# some comment

# attribution comments
# code from www.example.com/laishjf
print("HELLO") # this won't be executed

HELLO

# Variables

Use snake case! Try to use english words to make your program easier to understand.

In [50]:
#B3 = 100
#print(B3)

b3 = 10
print(b3)

x = 5
print(x)

monthly_sales = 100
print(monthly_sales)

10
5
100

In [51]:
b3 = 10
c3 = 100
d3 = 200
print(b3 + c3 + d3)
print(b3 * c3 * d3)

310
200000

In [52]:
print(1, 2, 3, 4, 5, "HELLO WORLD" )

1 2 3 4 5 HELLO WORLD

In [53]:
my_numbers = [10, 20, 30, 40]
print(type(my_numbers))
print(sum(my_numbers))

<class 'list'>
100

In [54]:
print(type(5))
print(type(4.5))
print(type("HELLOW"))

<class 'int'>
<class 'float'>
<class 'str'>

# Custom Functions

Parameters, Docstrings

In [55]:
# this is the function definition (only appear once)
# we can't see the deinitions of the built-in functions
# but we can define our own custom functions
def my_example_func():
    print("HELLO FROM INSIDE THE FUNCTION")

In [56]:
# this is not what we generally want to do (referencing the func as a variable)
my_example_func

# invoke the function!
# this is what we generally want to do
# we can invoke the function as many times as we want
my_example_func()
my_example_func()
my_example_func()
my_example_func()

HELLO FROM INSIDE THE FUNCTION
HELLO FROM INSIDE THE FUNCTION
HELLO FROM INSIDE THE FUNCTION
HELLO FROM INSIDE THE FUNCTION

In [57]:
# when we define a function
# we choose what parameters it requires
# what those are named
# and what their order is
def calculate_area_of_rectangle(length, width):
    return length * width

In [58]:
print(calculate_area_of_rectangle(10, 10))
print(calculate_area_of_rectangle(2, 9))

print(10 * 10 * 1/2)
print(2 * 9 * 1/2)
print(3 * 6 * 1/2)

# benefits of using a function?
# we get to maintain the logic in a single place

100
18
50.0
9.0
9.0

In [59]:
# calculate_area_of_rectangle() #> TypeError: calculate_area_of_rectangle() missing 2 required positional arguments: 'length' and 'width'

In [60]:
def my_other_function(a, b):
    """
    This is some english documentation describing the function
    And also exampels of how to use it

    Params: 
      a (int)
      b (int)

    """
    return a * b * 1/2

In [61]:
my_other_function(2,9)

9.0

In [62]:
def my_other_function_2(a, b):
    """This is a single doc line"""
    return a * b * 1/2

In [63]:
my_other_function_2(2,9)

9.0

# Booleans and If Statements

In [64]:
print(True)
print(False)

print(type(True))
print(type(False))

True
False
<class 'bool'>
<class 'bool'>

In [65]:
if True:
    print("Yes")
else:
    print("No")


if False:
    print("Yes")
else:
    print("No")

Yes
No

In [66]:
if 2 == 2:
    print("Yes")
else:
    print("No")


if 2 != 2:
    print("Yes")
else:
    print("No")

Yes
No

In [67]:
# variable assignment
x = 5
print(x)

# is what's on the left equal to whats on the right?
print(6 == 7)
print(6 == 6)

5
False
True

In [68]:
if 6 == 7:
    print("Yep")
else:
    print("Nope")

Nope

In [69]:
if False:
    print("Yep")

In [70]:
if 2 == 3:
    print("Three")
elif 2 == 4:
    print("Four")
elif 2 == 2:
    print("Two")
elif 3 == 3:
    print("WONT GET REACHED")
else:
    print("YEAH")

print("WAHTEVER IS AFTERWARDS")

Two
WAHTEVER IS AFTERWARDS

# Detecting Datatypes (and why it matters)

we can do different things with different data types

In [71]:
print(500 == "500")

False

In [72]:
print(type(500))
print(type(500.0))
print(type("500"))

<class 'int'>
<class 'float'>
<class 'str'>

In [73]:
print(500 + 500) #> 1000
print(500 + 500.0) #> 1000.0
print("500" + "500") #> "500500"
#print("500" + 500) #> TypeError: can only concatenate str (not "int") to str

print(type(str(500)))
print(type(int("500")))
print("500" + str(500))

1000
1000.0
500500
<class 'str'>
<class 'int'>
500500

# Strings

what can we do with strings?

concatenate (join) them together using the +

In [74]:
print("HELLO" + "WORLD")
print("HELLO" + " WORLD")
print("HELLO " + "WORLD")
print("HELLO" + " " + "WORLD")

HELLOWORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

In [75]:
m = "WORLD"
print("HELLO" + " " + m)

new_message = "HELLO" + str(500) + "WORLD"
print(new_message)

# alternatively to concat
# we can take advantage of the comma-separated nature of the print function
print("HELLO", m, "print many things", 100)

# we can use string interpolation (inject a variable into a string)
original_var = 500
new_message = f"HELLO {original_var} WORLD" 
print(new_message)

HELLO WORLD
HELLO500WORLD
HELLO WORLD print many things 100
HELLO 500 WORLD

In [76]:
print("HELLO".upper())
print("HELLO".lower())
print("HELLO".title())

HELLO
hello
Hello

# Lists

count their items

In [77]:
new_list = []
print(new_list)
print(type(new_list))
print(len(new_list))

arr = [6,3,9,7]
print(arr)
print(type(arr))
print(len(arr))

[]
<class 'list'>
0
[6, 3, 9, 7]
<class 'list'>
4

loop through the items and process one at a time

In [78]:
for letter in ["a", "b", "c", "d"]:
    print(letter)

print("-------------")


for letter in ["a", "b", "c", "d"]:
    print("HELLO")

a
b
c
d
-------------
HELLO
HELLO
HELLO
HELLO

In [79]:
# for _____ in ______:
#     print(___)

letters = ["a", "b", "m", "z"]

for x in letters:
    print(x)

print("-------")

for item in letters:
    print("---")
    print(item)

a
b
m
z
-------
---
a
---
b
---
m
---
z

access individual items inside the list by their numeric index / position

In [80]:
letters = ["a", "b", "m", "z"]
print(letters[0]) # first item is position 0
print(letters[1]) 
print(letters[2]) 
print(letters[-1]) # last item is position -1

a
b
m
z

# Dictionaries

asking what are the items' names? / keys?

In [81]:
person = {
    "first_name": "Ophelia", 
    "last_name": "Clark", 
    "message": "Hello Again"
}
print(type(person))
print(person.keys())

<class 'dict'>
dict_keys(['first_name', 'last_name', 'message'])

access items by their name / key

In [82]:
print(person["first_name"])

Ophelia

FYI - accessing just the keys, or just the values, or the key value pairs:

In [83]:
print(person.keys())
print(person.values())
print(person.items()) # converts to list of key-value pairs

print("-------------------")
for k, v in person.items():
    print("K:",k, "| V:", v)

dict_keys(['first_name', 'last_name', 'message'])
dict_values(['Ophelia', 'Clark', 'Hello Again'])
dict_items([('first_name', 'Ophelia'), ('last_name', 'Clark'), ('message', 'Hello Again')])
-------------------
K: first_name | V: Ophelia
K: last_name | V: Clark
K: message | V: Hello Again

For Nested Dictionaries, we access one level at a time, and can chain together accessors:

In [84]:
WINNERS = {
    "rock": {
        "rock": None,
        "paper": "paper",
        "scissors": "rock",
    },
    "paper": {
        "rock": "paper",
        "paper": None,
        "scissors": "scissors",
    },
    "scissors": {
        "rock": "rock",
        "paper": "scissors",
        "scissors": None,
    }
}

#winner = WINNERS["rock"]["paper"]
#print("WINNER:", winner)
print(WINNERS["rock"])
print(WINNERS["rock"]["paper"])

rock_scenarios = WINNERS["rock"]
print(rock_scenarios)
print(rock_scenarios["paper"])


user_choice = "rock"
computer_choice = "paper"
print("WINNER:", WINNERS[user_choice][computer_choice])

{'rock': None, 'paper': 'paper', 'scissors': 'rock'}
paper
{'rock': None, 'paper': 'paper', 'scissors': 'rock'}
paper
WINNER: paper

# Sorting Lists

In [85]:
letters = ["e", "m", "a", "c", "b", "z", "y", "d"]

numbers = [8, 4, 7, 1, 9, 2, 5]

teams = [
    {"city": "New York", "name": "Yankees"},
    {"city": "New York", "name": "Mets"},
    {"city": "Boston", "name": "Red Sox"},
    {"city": "New Haven", "name": "Ravens"}
] # todo: sort by name

In [86]:

sorted_letters = sorted(letters)
print("SORTED LETTERS", sorted_letters)

sorted_numbers = sorted(numbers)
print("SORTED NUMBERS:", sorted_numbers)
print("REVERSE NUMBERS:", sorted(numbers, reverse=True))

# if we're sorting a list of dictionaries
# we can use the itemgetter method as a way of specifying
# ... which key to sort by
from operator import itemgetter

#sorted_teams = sorted(teams, key=itemgetter("city"))
sorted_teams = sorted(teams, key=itemgetter("name"))
print("SORTED TEAMS:", sorted_teams)

SORTED LETTERS ['a', 'b', 'c', 'd', 'e', 'm', 'y', 'z']
SORTED NUMBERS: [1, 2, 4, 5, 7, 8, 9]
REVERSE NUMBERS: [9, 8, 7, 5, 4, 2, 1]
SORTED TEAMS: [{'city': 'New York', 'name': 'Mets'}, {'city': 'New Haven', 'name': 'Ravens'}, {'city': 'Boston', 'name': 'Red Sox'}, {'city': 'New York', 'name': 'Yankees'}]

# Mapping and Filtering Lists

In [87]:
numbers = [8, 4, 7, 1, 9, 2, 5]

mapping / transforming each item (for example multiplying each number by 100):

In [88]:
# the long way:
larger_numbers = []
for n in numbers:
    larger_numbers.append(n * 100) 
print(larger_numbers)

# one-liner "list comprehension":
print([n * 100 for n in numbers])

[800, 400, 700, 100, 900, 200, 500]
[800, 400, 700, 100, 900, 200, 500]

filtering / selecting only the items that match some logical condition (for example, only numbers greater than 5):

In [89]:
# the long way:
matching_numbers = []
for n in numbers:
    if n > 5:
        matching_numbers.append(n)
print(matching_numbers)

# one-liner "list comprehension":
print([n for n in numbers if n > 5])

[8, 7, 9]
[8, 7, 9]

mapping and filtering via list comprehension:

In [90]:
# one-liner "list comprehension" for filtering and mapping:
print([n*100 for n in numbers if n > 5])

[800, 700, 900]