# Outputs

print function docs: https://docs.python.org/3/library/functions.html#print

In [ ]:
print("HELLO WORLD")
print(4)

HELLO WORLD
4

printing three different ways:

In [ ]:
# A) using print function, printing multiple things sep by commas
message_part_two = "WORLD"
print("HELLO", message_part_two)

# B) string concatenation:
print("HELLO " + message_part_two)
print("HELLO" + " " + message_part_two)

# C) use format string and inject variable / "interpolation"
print(f"HELLO {message_part_two}")

HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

# Variables

In [ ]:
# variable assignment
x = 5

print(x)
print(x + 10)

5
15

In [ ]:
# it's possible to overwrite a variable's value
# so it may change over time / at different times

y = 10
print(y)

print(y)

y = 100
print(y)

print(y)

10
10
100
100

In [ ]:
z = 7
print(z)

z = z + 10
print(z)

z += 10 # this means the same as z = z + 10
print(z)

7
17
27

contextual variable names can help us read and understand the program

In [ ]:
speed_mph = 70
print(speed_mph)

# Inputs

the input function asks the user to provide some input:

https://docs.python.org/3/library/functions.html#input

In [ ]:
fav_flavor = input("Please input your favorite ice cream flavor: ")
print(fav_flavor)

Please input your favorite ice cream flavor: mango
mango

In [ ]:
lucky_number = input("Please input your lucky number: ")
print(lucky_number)
print(type(lucky_number))

print("--------")
lucky_number = int(lucky_number)
print(lucky_number)
print(type(lucky_number))

Please input your lucky number: 999
999
<class 'str'>
--------
999
<class 'int'>

# Basic Datatypes

In [ ]:
print(type(1))
print(type(4.5))
print(type("HELLO WORLD"))

<class 'int'>
<class 'float'>
<class 'str'>

why datatypes matter?

by knowing what datatype something is, we learn how to work with it, and what operations we're able to perform on it

In [ ]:
print(2 + 2)

4

In [ ]:
print("2" + "2")

22

In [ ]:
#print(2 + "2")
#> TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: ignored

convert between datatypes:

In [ ]:
x = 5
y = "10"

print(str(x) + y)

print(x + int(y))

510
15

## Numbers

In [ ]:
print(2 + 2)
print(4.5 * 10)

4
45.0

## Strings

In [ ]:
message = "hello world"

print(type(message))

# what are the methods and properties (CAPABILITIES) of this object?
print(dir(message))

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print(message.lower())
print(message.upper())
print(message.title())
print(message.replace("hello", "GOODBYE"))

hello world
HELLO WORLD
Hello World
GOODBYE world

In [ ]:
x = "hello"
x = x.title()
print(x)

Hello

## Booleans

In [ ]:
print(True)
print(type(True))

True
<class 'bool'>

In [ ]:
print(False)
print(type(False))

False
<class 'bool'>

# Logical Operators

In [ ]:
# is what's on the left equal to what's on the right?
print(4 == 5)
print(4 == 4)

False
True

In [ ]:
# is what's on the left NOT equal to what's on the right?
print(4 != 5)
print(4 != 4)

True
False

In [ ]:
# are both sides True?
# the resulting value is only True if both sides are True
# otherwise the resulting value will be False
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# is either side true?
# resulting expression will be True if either side is True
# otherwise if both are false resulting value will be false
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

once we learn about lists, we can use the inclusion operator

In [ ]:
print(5 in [1,2,7,5])
print(5 not in [1,2,7,5])

True
False

In [ ]:
print("hello" in "hello world")
print("hello" not in "hello world")
print("HELLO" in "hello world")

True
False
False

# Conditionals / IF Statements

In [ ]:
#speed_mph = 110
speed_mph = 50

speed_limit_mph = 65

if speed_mph > speed_limit_mph:
    # only if the expression evaluates to true will the program even look here inside here
    print("STOP SPEEDING")
else:
    # only if false does the program look at this indented part
    print("SPEED OK")

SPEED OK

In [ ]:
if 2 == 4:
    # never reached
    print("YEP")


print("BELOW")

BELOW

In [ ]:
if 2 == 4:
    # never reached
    print("YEP")
elif 2 == 5:
    # never reached
    print("ALSO")
elif 2 == 6:
    # never reached
    print("ALSO")
else:
    print("NOPE")

NOPE

# Functions

In [ ]:


# write a function that accepts two parameters: a person's first name and their last name
# the function should return that person's full name (which is a combo of their first and last name)

first_name = "Yan"
last_name = "Solo"

print(first_name + " " + last_name)

first_name = "Juke"
last_name = "Skywalker"

print(first_name + " " + last_name)

Yan Solo
Juke Skywalker

In [ ]:
# defining (just once):

def full_name(first_name, last_name):
    #print(first_name + " " + last_name)
    return first_name + " " + last_name


# invoking:

print(full_name("Yan", "Solo"))

print(full_name("Juke", "Skywalker"))

result = full_name("Leiah", "Skywalker")
print(result)

# WRONG:
print(full_name("Swift", "Taylor"))

print(full_name(last_name="Swift", first_name="Taylor"))

Yan Solo
Juke Skywalker
Leiah Skywalker
Swift Taylor
Taylor Swift

# Container Datatypes

In [ ]:
print(type(1))
print(type(1.0))
print(type("1"))
print(type(True))
print(type(False))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

## Lists

square brackets on the extremities []

comma separated items inside [1,2,3,4]

In [ ]:
print(type([1,2,3,4]))
print(type(["a", "b", "z", "hello"]))
print(type([True, True, True, False]))

<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
sales = [100, 200, 500]
print(type(sales))

<class 'list'>

access individual items inside the list by referencing their numeric position (called the index, which starts at 0)

In [ ]:
sales = [100, 200, 500]
print(type(sales))

print(sales[0]) # 0 is index of first item
print(sales[1])
print(sales[2])
# print(sales[3]) #> IndexError: list index out of range
print(sales[-1]) # -1 index of last item

<class 'list'>
100
200
500
500

how many items in the list?

In [ ]:
print(len(sales))

3

use the `.append()` function to add a new item to the end of the list

we'll pass in the item we want to add

we'll invoke this method on the list itself:

In [ ]:
print(sales)
print(type(sales))
print(len(sales))

# this is a "mutating operations" in other words
# it changes the variable in place
sales.append(9)

print(sales)
print(len(sales))

[100, 200, 500]
<class 'list'>
3
[100, 200, 500, 9]
4

In [ ]:
new_list = []
print(len(new_list))
print(new_list)

new_list.append(100)
new_list.append(100)

print(len(new_list))
print(new_list)

0
[]
2
[100, 100]

## Dictionaries

squiggly braces on the extremities {}

"key value pairs"

instead of referencing items inside by their numeric position (like a list), we reference the items by a textual attribute name known as the "key"

In [ ]:
#person = {k: v, k: v, k: v}
#person = {"first_name": "Scott", "last_name": "Jones", "age": 100}
person = {
    "first_name": "Scott", 
    "last_name": "Jones", 
    "age": 100
}

print(type(person))

<class 'dict'>

we access items by their textual key name / attribute name

In [ ]:
print(person["first_name"])
print(person["last_name"])
print(person["age"])

Scott
Jones
100

In [ ]:
print(person.keys())
print(list(person.keys()))

dict_keys(['first_name', 'last_name', 'age'])
['first_name', 'last_name', 'age']

In [ ]:
print(person.values())
print(list(person.values()))

dict_values(['Scott', 'Jones', 100])
['Scott', 'Jones', 100]

In [ ]:
print(person.items())
print(list(person.items()))

dict_items([('first_name', 'Scott'), ('last_name', 'Jones'), ('age', 100)])
[('first_name', 'Scott'), ('last_name', 'Jones'), ('age', 100)]

# Built-in Modules

practice using the random module?

https://www.geeksforgeeks.org/python-select-random-value-from-a-list/

In [ ]:
import random
 
# initializing list
test_list = [1, 4, 5, 2, 7]
 
# printing original list
print("Original list is : " + str(test_list))
 
# using random.choice() to
# get a random number
random_num = random.choice(test_list)
 
# printing random number
print("Random selected number is : " + str(random_num))

Original list is : [1, 4, 5, 2, 7]
Random selected number is : 1

In [ ]:
import random
 
flavors = ["vanilla", "choc", "straw"]
random_flavor = random.choice(flavors)
print(random_flavor)

vanilla

# List Operations

## Looping / Iterating through Lists

In [ ]:
sales = [100, 200, 500]
print(type(sales))

<class 'list'>

In [ ]:
#for _________ in _________:
#    print(____________)

# for some_item in existing_list_of_items:
#     print(some_item)

# for _________ in sales:
#     print(____________)

sales = [100, 200, 500]

for x in sales:
    print("-------")
    print(x)
    # last line within the loop

print("BOTTOM")

-------
100
-------
200
-------
500
BOTTOM

In [ ]:
sales = [100, 200, 500]

for n in sales:
    print("-------")
    print(n)
    # last line within the loop

print("BOTTOM")

-------
100
-------
200
-------
500
BOTTOM

In [ ]:
new_sales = [100, 200, 500]

for item in new_sales:
    print("-------")
    print(item)
    # last line within the loop

print("BOTTOM")

-------
100
-------
200
-------
500
BOTTOM

In [ ]:
words = ["hello", "goodbye", "awesome"]

for item in words:
    print("-------")
    print(item)
    # last line within the loop

print("BOTTOM")

-------
hello
-------
goodbye
-------
awesome
BOTTOM

## Sorting Lists

In [ ]:
nums = [9, 6, 99, 3, 2, 1, 5, 2]
print(nums)
print(sorted(nums))
print(sorted(nums, reverse=True))

[9, 6, 99, 3, 2, 1, 5, 2]
[1, 2, 2, 3, 5, 6, 9, 99]
[99, 9, 6, 5, 3, 2, 2, 1]

In [ ]:
words = ["hello", "yolo", "goodbye", "welcome"]
print(words)
print(sorted(words))
print(sorted(words, reverse=True))

['hello', 'yolo', 'goodbye', 'welcome']
['goodbye', 'hello', 'welcome', 'yolo']
['yolo', 'welcome', 'hello', 'goodbye']

In [ ]:
from operator import itemgetter
from pprint import pprint
teams = [
    {"city": "New York", "name": "Yankees"},
    {"city": "New York", "name": "Mets"},
    {"city": "Boston", "name": "Red Sox"},
    {"city": "New Haven", "name": "Ravens"}
]
#pprint(teams)
#print(sorted(teams)) #> TypeError: '<' not supported between instances of 'dict' and 'dict'
#print(sorted(teams, reverse=True))

print("SORTING BY CITY:")
print("-------")
pprint(sorted(teams, key=itemgetter("city")))
print("-------")
pprint(sorted(teams, key=itemgetter("city"), reverse=True))

print("SORTING BY NAME:")
print("-------")
pprint(sorted(teams, key=itemgetter("name")))
print("-------")
pprint(sorted(teams, key=itemgetter("name"), reverse=True))

SORTING BY CITY:
-------
[{'city': 'Boston', 'name': 'Red Sox'},
 {'city': 'New Haven', 'name': 'Ravens'},
 {'city': 'New York', 'name': 'Yankees'},
 {'city': 'New York', 'name': 'Mets'}]
-------
[{'city': 'New York', 'name': 'Yankees'},
 {'city': 'New York', 'name': 'Mets'},
 {'city': 'New Haven', 'name': 'Ravens'},
 {'city': 'Boston', 'name': 'Red Sox'}]
SORTING BY NAME:
-------
[{'city': 'New York', 'name': 'Mets'},
 {'city': 'New Haven', 'name': 'Ravens'},
 {'city': 'Boston', 'name': 'Red Sox'},
 {'city': 'New York', 'name': 'Yankees'}]
-------
[{'city': 'New York', 'name': 'Yankees'},
 {'city': 'Boston', 'name': 'Red Sox'},
 {'city': 'New Haven', 'name': 'Ravens'},
 {'city': 'New York', 'name': 'Mets'}]

## Mapping / Transforming Lists

In [ ]:
nums = [1, 2, 3, 4]
bigger_nums = []

for n in nums:
    #print(n)
    #print(n*100)
    bigger_nums.append(n * 100)

print(nums) #> [1, 2, 3, 4]
print(bigger_nums) #> [100, 200, 300, 400]

[1, 2, 3, 4]
[100, 200, 300, 400]

## Filtering Lists

In [ ]:
nums = [1, 2, 3, 4]
matching_nums = []

for n in nums:
    print(n)
    #matching_nums.append(n)
    if n > 2:
        matching_nums.append(n)

print("-------")
print(nums) #> [1, 2, 3, 4]
print(matching_nums) #> [3,4]

1
2
3
4
-------
[1, 2, 3, 4]
[3, 4]

## List Comprehensions

see [separate exercise](https://colab.research.google.com/drive/1SBWW2Waedzn-FZRbaIxwP5HQz6smxBPe?usp=sharing)